@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


body {
	overflow: hidden;
}

.PageHeader {
	background-color: red;
}

.PageBodyLeft {
	background-color: green;
}

.PageBodyMiddle {
	background-color: orange;
}

.PageBodyRight {
	background-color: blue;
}

.wordWrap {
	word-wrap: break-word !important;
	overflow-wrap: break-word !important;
	overflow: hidden;
}

.padding3 {
	padding: 3px 3px 3px 3px;
}

.padding5 {
	padding: 5px 5px 5px 5px;
}

.paddingTopBottom5 {
	margin-top: 10%;
	width: 60px;
	height: 300%;
	text-align: center;
	align-content: center;
}

.padding10 {
	padding: 10px 10px 10px 10px;
}

.gap3 {
	gap: 3px;
}

.gap5 {
	gap: 5px;
}

.horizontal-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.maxHEIGHT25 {
	max-height: 40%;
	min-height: 350px;
	overflow: scroll;
	overflow-x: hidden;
}

.bold {
	font-weight: bold;
}

.fontSizeLarge {
	font-size: large;
}

.center-vertical {
	align-items: center;
	display: flex;
}
