body{
    background-color: black;
    color: white;
    position: relative;
}

form{
    margin: auto;
    width: 40%;
}
table{
    margin: auto;
    width: 40%;
}

.vypis{
    margin-top: 15px;
}

.center{
    margin: auto;
    width: 50%;
    text-align: center;
}

.idcol{
    width: 50px;
}

.linkcol{
    width: 40px;
    overflow-wrap:break-word;
    word-wrap: break-word;
}

.deletecol{
    width: 50px;
}

.datecol{
    width: 150px;
}
.titlecol{
    width: 150px;
}

.tlacitko{
    margin-left:20%; 
}
.torrent{
    width: 30%;
}
.magnet{
    width: 70%;
}

#drop_file_zone {
    background-color: green;
    border: #999 5px dashed;
    width: 290px;
    height: 50px;
    padding: 8px;
    font-size: 18px;
}

#drag_upload_file {
  width:50%;
  margin:0 auto;
}

#drag_upload_file p {
  text-align: center;
}

#drag_upload_file #selectfile {
  display: none;
}

 #button {
     position:absolute;
     top:0;
     right:0;
 }
 